#rpss .rpss-loader {
  display: inline-block;
  position: relative;
  width: 72px;
  height: 10px;
}

#rpss .rpss-loader .rpss-dot {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--rpss-bg-loader, /*BG_LOADER*/);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

#rpss .rpss-loader .rpss-dot:nth-child(1) {
  left: 8px;
  animation: rpss-dot1 0.6s infinite;
}

#rpss .rpss-loader .rpss-dot:nth-child(2) {
  left: 8px;
  animation: rpss-dot2 0.6s infinite;
}

#rpss .rpss-loader .rpss-dot:nth-child(3) {
  left: 32px;
  animation: rpss-dot2 0.6s infinite;
}

#rpss .rpss-loader .rpss-dot:nth-child(4) {
  left: 56px;
  animation: rpss-dot3 0.6s infinite;
}

@keyframes rpss-dot1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rpss-dot2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@keyframes rpss-dot3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
