#rpss .rpss-loader {
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 4px;
  border-radius: 2px;
}

#rpss .rpss-loader .rpss-line {
  position: absolute;
  background: rgba(150, 150, 150, 0.4);
  width: 150%;
  height: 4px;
}

#rpss .rpss-loader .rpss-subline {
  position: absolute;
  background: var(--rpss-bg-loader, /*BG_LOADER*/);
  height: 4px;
}

#rpss .rpss-loader .rpss-inc {
  animation: rpss-increase 1.5s infinite;
}

#rpss .rpss-loader .rpss-dec {
  animation: rpss-decrease 1.5s 0.5s infinite;
}

@keyframes rpss-increase {
  from {
    left: -5%;
    width: 5%;
  }
  to {
    left: 130%;
    width: 100%;
  }
}

@keyframes rpss-decrease {
  from {
    left: -80%;
    width: 80%;
  }
  to {
    left: 110%;
    width: 10%;
  }
}
