#rpss .rpss-loader {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
}

#rpss .rpss-loader .rpss-pulse {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--rpss-bg-loader, /*BG_LOADER*/);
  animation: rpss-pulse-animation 1.2s ease-in-out infinite;
}

@keyframes rpss-pulse-animation {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 0.7;
  }
  100% {
    transform: scale(0.8);
    opacity: 1;
  }
}
