#rpss .rpss-loader {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
}

#rpss .rpss-loader .rpss-spinner {
  width: 50px;
  height: 50px;
  border: 4px solid rgba(150, 150, 150, 0.3);
  border-top-color: var(--rpss-bg-loader, /*BG_LOADER*/);
  border-radius: 50%;
  animation: rpss-spin 1s linear infinite;
}

@keyframes rpss-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
